# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build directories
build

# Default output files
mcmc_out*
event_data*
run_info*
shiftPrior*
chain_swap*
prior_probs*

# Other junk
.DS_Store
._*
*~
*.swp
.Rapp.history
